@@include('../tpls/common/head.html', {"title": "codetest", "forum_name": "index"})
<div class="container">
	<header>
		<a href="/" class="logo">&lt;<b>codetest</b>&gt;</a>
	</header>

	<nav id="JS_nav">
		<a href="#" data-index="-1">ALL PRODUCTS</a>
		<a href="#" class="on">PRODUCTS 1</a>
		<a href="#">PRODUCTS 2</a>
	</nav>

	<ul id="JS_product_list" class="product_list">
		<li>
			<figure>
				<img src="images/product_default.png" alt="">
				<figcaption>Product Name</figcaption>
			</figure>
			<p>Price..........$4.99</p>
		</li>
		<li>
			<figure>
				<img src="images/product_default.png" alt="">
				<figcaption>Product Name</figcaption>
			</figure>
			<p>Price..........$4.99</p>
		</li>
		<li>
			<figure>
				<img src="images/product_default.png" alt="">
				<figcaption>Product Name</figcaption>
			</figure>
			<p>Price..........$4.99</p>
		</li>
		<li>
			<figure>
				<img src="images/product_default.png" alt="">
				<figcaption>Product Name</figcaption>
			</figure>
			<p>Price..........$4.99</p>
		</li>
		<li>
			<figure>
				<img src="images/product_default.png" alt="">
				<figcaption>Product Name</figcaption>
			</figure>
			<p>Price..........$4.99</p>
		</li>
		<li>
			<figure>
				<img src="images/product_default.png" alt="">
				<figcaption>Product Name</figcaption>
			</figure>
			<p>Price..........$4.99</p>
		</li>
	</ul>

	<aside>
		<h4>Filter by:</h4>
		<div id="JS_filter" class="filter">
			<a href="#" data-sort="Alphabetically">Alphabetically</a>
			<a href="#" data-sort="priceLowToHigh">Price: Low to High</a>
			<a href="#" data-sort="priceHighToLow">Price: High to Low</a>
		</div>
	</aside>

	<footer>
		<p>&copy; Lorem ipsum dolor sit amet.</p>
	</footer>
</div>
@@include('../tpls/common/foot.html', {"js_name": "index"})
